%p#notice= notice

.wrapper.offset
  .row
    .col_4
      %h2 All Projects I've Made!

  - @projects.each do |project|
    .row
      .col_4
        = link_to project, :class => "article_wrapper" do
          .col_1
            = image_tag project.image.url(:medium)
          .col_3
            %h4= project.title
            %p= project.content
