.wrapper
  .row
    .col_4
      %p#notice= notice
  .row
    .col_4
      %h4= @project.title
      %p= @project.content

      = link_to 'Edit', edit_project_path(@project)
      = link_to 'Back', projects_path
